.filtermanage .back{
 position: relative;
 left: 700px;
 bottom:100px;
}
.titleField{
    position: relative;
    right: 350px;
    text-align: left;
}
.filterbtn{
    position: relative;
    right: 380px;
    bottom: 30px;
}

.cancelbtn{
    position: relative;
    left: 550px;
    bottom: 400px;

}